[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.4.3"
pyyaml = "==6.0"
requests = "==2.28.1"
logger = "==1.4"
webdriver-manager = "==3.8.3"
celery = "==5.2.7"
redis = "==4.3.4"

[dev-packages]

[requires]
python_version = "3.8"
